body {
	margin-left: 115px;
}

h1 {
	font-family: sans-serif;
}
.board {
	background-color: #884422;
	border-spacing: 0px 2px;
	padding: 3px 5px 3px 5px;
}
.board td {
	width: 55px;
	height: 55px;
	background-color: #CC6633;
	text-align: center;
	vertical-align: middle;
}
.feedback td {
	width: 50px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}
.buttonRow {
	padding: 0;
	float: left;
	width: 100px;
	margin-left: -105px;
}
.buttonRow button {
	width: 90px;
	/*margin: 3px 0px 0px 5px;*/
	/*margin-left: -50px;*/
	margin-bottom: 5px;
	font-family: sans-serif;
}

#selector {
	position: absolute;
	top: 100px;
	left: 500px;
	width: 168px;
	border: thin;
	border-style: solid;
	background-color: #999999;
	text-align: center;
}
#selector img {
	padding: 2px 4px 2px 4px; 
}

.optionsTable {
	background-color: #BBBBBB;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

.optionsTable td {
	padding: 0px 10px 0px 10px;
}
